/** SCSS Containers
----------------------------------- */
#genesis-content {
  article {
	width: 70%;
	max-width: 2000px;
	.wp-block-cover.alignwide {
	  width: 102vw;
	  position: relative;
	  left: 50%;
	  right: 50%;
	  margin-left: -50vw;
	  margin-right: -50vw;
	}
	.wp-block-group.vdg-form.has-background {
	  width: 102vw;
	  position: relative;
	  left: 50%;
	  right: 50%;
	  margin-left: -50vw;
	  margin-right: -50vw;
	}
  }
}
.content-narrow {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
}
.page, .blog {
  .site-container {
	.site-inner {
	  .wrap.container-fluid {
		padding-left: 0;
		padding-right: 0;
	  }
	}
  }
}
.post-template-default.single {
  .site-container {
	.wrap {
	  .content-sidebar-wrap {
		main {
		  .archive-description {
			width: 70%;
			margin: auto;
		  }
		  article {
			width: 70%;
			margin: 0 auto;
		  }
		}
	  }
	}
  }
}
.blog {
  .site-container {
	.wrap {
	  .content-sidebar-wrap {
		main {
		  .archive-description {
			width: 70%;
			margin: auto;
		  }
		  article {
			width: 70%;
			margin: 0 auto;
		  }
		}
	  }
	}
  }
}
.container-fluid.mid-slider-container {
  margin-top: $em3;
  padding: 0;
}
.narrow-content {
  width: 70%;
  margin: 0 auto;
}
.page-template-default.page,
.page-template-default.post {
  .site-container {
	.site-inner {
	  .wrap {
		.content-sidebar-wrap {
		  main {
			article {
			  margin: 0 auto;
			}
		  }
		}
	  }
	}
  }
}

#respond {
  width: 70%;
  max-width: 2000px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {}
@media (max-width: 991.98px) {
  #genesis-content {
	article {
	  width: 100%;
	}
  }
  .entry-content {
	width: 100%;
	padding: 1em;
  }
  .narrow-content {
	width: 100%;
  }
  #aop-narrow {
	width: 100% !important;
  }
}
@media (max-width: 767.98px) {}
@media (max-width: 575.98px) {}
