/** SCSS Front Page Grid
---------------------------------------------- */

.widget-two {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  section.featured-content {
	width: 50%;
	float: left;
	padding: 1.618em;

	article {
	  border: none !important;
	  background-color: $lightgray;
	  header {
		text-align: center;
		padding: 4em 4em 0;
	  }
	  .entry-content {
		padding: 0 4em 4em 4em;
		text-align: center;
		p {
		  padding: $em1;
		}
	  }
	}
	img {
	  min-height: 300px;
	  max-height: 300px;
	  object-fit: cover;
	}
  }
}

.fpa-more-link {
  text-align: center;
  width: 55%;
  margin: 0 auto;
  a {
	border: 1.2px solid $black;
	padding: 1em 1em;
	color: $black;
	text-decoration: none;
  }
}
.hr {
  width: 50px;
  border: 2px solid red;
  margin: 2em auto 3em auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .widget-two {
	section.featured-content {
	  width: 100%;
	  float: none;
	}
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
