/** SCSS Front Page
---------------------------- */

.parallax-window {
  min-height: 1046px;
  background: transparent;
}

#fp-parallax-top {
  .parallax-slider {
	img {
	  width: 100% !important;
	  max-width: none;
	  object-fit: cover;
	  height: 1000px;
	}
  }
}
.parallax-content {
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  h1 {
	color: $white;
  }
  p {
	color: $white;
  }
}
.testimonial.carousel.slide {
  .carousel-item:after {
	content: '\A';
	position: absolute;
	width: 100%; height:100%;
	top:0; left:0;
	background:rgba(0,0,0,0.6);
  }
  img {
	min-height: 300px;
	max-height: 300px;
	object-fit: cover;
	width: 100%;
  }
}
