/** SCSS Front Page
---------------------------- */

.parallax-window {
  min-height: 1046px;
  background: transparent;
}

#fp-parallax-top {
  .parallax-slider {
	img {
	  width: 100% !important;
	  max-width: none;
	  object-fit: cover;
	  height: 1000px;
	}
  }
}
.parallax-content {
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  h1 {
	color: $white;
  }
  p {
	color: $white;
  }
}
