/** SCSS Front Page
---------------------------- */

.parallax-mirror {
  z-index: 1 !important;
}

.parallax-window {
  min-height: 1046px;
  background: transparent;
}

#fp-parallax-top {
  .parallax-slider {
	img {
	  width: 100% !important;
	  max-width: none;
	  object-fit: cover;
	  height: 1000px;
	}
  }
}
.parallax-content {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  transition: .5s;
  .row {
	.text-btn-content {
		.card {
		  background-color: transparent;
		  border: none;

		  h1 {
			color: $white;
			transition: .5s;
		  }

		  p {
			color: $white;
			transition: .5s;
		  }
		}
	  }
	}
  }
.testimonial.carousel.slide {
  .carousel-item:after {
	content: '\A';
	position: absolute;
	width: 100%; height:100%;
	top:0; left:0;
	background:rgba(0,0,0,0.6);
  }
  img {
	min-height: 300px;
	max-height: 300px;
	object-fit: cover;
	width: 100%;
  }
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0;
  left: 15%;
  z-index: 10;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  color: #fff;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#mid-page-jumbotron {
  margin: $em1 auto;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:transparent;
  padding: 9rem 2rem;
}
.jumbotron__background {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  object-fit: cover;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .parallax-window {
	min-height: 500px;
	transition: .5s;
  }

  #fp-parallax-top {
	.parallax-slider {
	  img {
		width: 100% !important;
		max-width: none;
		object-fit: cover;
		height: 550px;
	  }
	}
  }
  .parallax-content {
	paddng: 0 $em1;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	max-width: 570px;
	margin: 0 auto;
	word-wrap: break-word;
	transition: .5s;
	.row {
	  transition: .5s;
	  .text-btn-content {
		button.btn {
		  margin: 0 auto;
		  display: block;
		  transition: .5s;
		}
	  }
	}
	h1 {
	  font-size: 1.5rem;
	  transition: .5s;
	  text-align: center;
	}
	p {
	  word-wrap: break-word;
	  font-size: 1.1rem;
	  transition: .5s;
	  text-align: center;
	}
  }
}

@media (max-width: 767.98px) {
  .parallax-content {

	transition: .5s;
  }
}
@media (max-width: 575.98px) {
  .parallax-content {

	transition: .5s;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  .front-page {
	.site-inner {
	  padding-top: 2em;
	}
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {

  .parallax-window {
	min-height: 350px;
	transition: 0.5s;
  }

  #fp-parallax-top {
	.parallax-slider {
	  img {
		height: 320px;
		transition: 0.5s;
	  }
	}
  }

  .parallax-content {
	  top: 45%;
	h1 {
	  font-size: 1rem;
	}
	p {
	  font-size: 0.8rem;
	}
	button.btn.btn-outline-light {
	  font-size: 0.5rem;
	}
  }


  .testimonial.carousel.slide {
	.carousel-item:after {
	}
	img {
	  min-height: 500px;
	  max-height: 500px;
	}
  }
}

@media (max-width: 320.98px) {
  .parallax-content {
	top: 30%;
  }
}
