/** SCSS Misc
----------------- */

.logged-in.admin-bar {
 nav {
   margin-top: 32px;
 }
}

/* CSS Transfered from Customizer CSS

 Areas of Practice Page*/
.p-text {
  font-size: 22px;
  line-height: 1.75;
  margin-top: 30px;
  padding-right: 40px;
}

/*h2 headings on featured images*/
.h2-underline {
  font-size: 55px;
  text-decoration: underline;
  text-decoration-color: #EA2340;
}

.narrow-content {
  width: 70%;
  align-content: center;
}

/*  Contact Form CSS */
.vdg-form {
  padding-right: 100px;
  padding-left:100px;
  padding-top: 20px;
  margin: 0 auto;
}

/*  narrow width aop */
#aop-narrow {
  margin: 0 auto;
  width: 70%;
}
