/* Navbar
----------------------------------------------------------------------------- */

.page-template-default {
  .navbar-clear .navbar-nav .nav-link {
	color: $black;
  }

  .bg-clear.scrolled {
	.wrap {
	  #nav-primary {
		ul li a {
		  color: $white;
		  transition: 1s;
		}
	  }
	}
  }
}

.no-js .menu-item-has-children:hover .dropdown-menu,
.no-js .menu-item-has-children:focus .dropdown-menu {
    display: block;
}

/* Move navigation below wp-admin bar */
.logged-in {
    .navbar-fixed-top {
        margin-top: 32px; // Move navigation below wp-admin bar
    }
}

.navbar {
    padding: {
        left: .8em;
        right: .8em;
    }
}

.navbar-clear .navbar-nav .nav-link {
  color: hsla(360, 100%, 100%, 1);
}

.bg-clear.scrolled {
  background-color: $black !important;
  transition: 1s;
  .wrap {
	button {
	  .navbar-toggler-icon {
		.fa-bars {
		  color: $white;
		}
	  }
	}
  }
}

.navbar-toggler-icon {
  height: 1.7em;
}

.navbar-collapse.collapse.show {
  background-color: $black;
  padding: $em1;
}
.navbar-nav.sm-collapsible .sub-arrow {
  right: auto;
  left: 200px;
}
.navbar-nav.ml-auto.sm-collapsible {
  width: 55%;
  margin: 0 auto;
}
